html, body {
    height: 100vh;
    width: 100vw;
    background-color: rgb(222, 220, 216);
}

#mainContent {
    margin: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

h1 {
    text-align: center;
    margin-top: 2em;
}

p {
    text-align: center;
    margin-top: 2em;
}

button {
    margin-top: 2em;  
}

#buttonContainer {
    display: flex;
    justify-content: space-around;
    
}

