html, body {
    height: 100vh;
    width: 100vw;
}

#mainContent::after {
        content: "";
        background: url("https://img.buzzfeed.com/buzzfeed-static/static/2017-11/21/17/tmp/buzzfeed-prod-fastlane-03/tmp-name-2-4876-1511303956-0_dblbig.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.4;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;   
      }
    

#mainContent {
    margin: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#game-intro {
    border: 1px black solid;
    padding: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: rgb(234, 239, 244, .5);
}

#scoreboard-container {
    display: flex;
    justify-content: space-around;
    margin: 2em;
    border: 1px black solid;
    padding: 1em;
}

h1 {
    text-align: center;
    margin-top: 1em;
}

p {
    text-align: center;
    margin-top: 2em;
}

#start-game {
    width: 50em;
    align-self: center;
}

button {
    margin-top: 2em;  
}

#buttonContainer {
    display: flex;
    justify-content: space-around;
    
}

